Hud {
    * {
        font-family: VictorMono;
        font-weight: bold;
    }

    .crosshair {
        width: 10px;
        height: 10px;
        color: red;
        border: 1px aquamarine;
        border-radius: 99px;
    }

    .crosshair-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scoreboard-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .root-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-container {
        width: 90%;
        height: 85%;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .debug-container {
        width: 90%;
        height: 85%;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        label {
            color: white;
        }
    }

    .info-vel {
        color: white;
        font-size: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }

    .info-stats {
        color: white;
        font-size: 64px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        padding-right: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        background: linear-gradient(90deg, rgba(0,212,255,0.37) 0%, rgba(0,212,255,1) 100%);
        text-stroke: 4px #00d4ff;
    }

    .vel-gray {
        background: linear-gradient(90deg, rgba(125, 125, 125,0.37) 0%, rgba(125, 125, 125,1) 100%);
        text-stroke: 2px #7d7d7d;
    }

    .vel-green {
        background: linear-gradient(90deg, rgba(24, 173, 47,0.37) 0%, rgba(24, 173, 47,1) 100%);
        text-stroke: 2px #18ad2f;
    }

    .vel-yellow {
        background: linear-gradient(90deg, rgba(209, 209, 44,0.37) 0%, rgba(209, 209, 44,1) 100%);
        text-stroke: 2px #d1d12c;
    }

    .vel-red {
        background: linear-gradient(90deg, rgba(209, 55, 44,0.37) 0%, rgba(209, 55, 44,1) 100%);
        text-stroke: 2px #d1372c;
    }
}
